# Global style
BasedOnStyle: Microsoft
#
# Basic
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
UseTab: Never
#
# Function and macro
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowAllArgumentsOnNextLine: false
#
# if and switch case
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignTrailingComments: true
IndentCaseLabels: true
#
# Other
SpaceInEmptyBlock: true
AlignConsecutiveAssignments: true
SpacesInContainerLiterals: true
# AlignArrayOfStructures: Right
